<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listagem de usuarios</title>

    <!-- JQuery -->
    <script src="js/jquery-2.2.1.js"></script>

    <!-- bootstrap - link cdn -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
        integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- incluindo css -->
    <link href="css/style_user.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">



    <!-- favicon -->
    <link rel="shortcut icon" href="images/favicon.ico" />

</head>

<body>

    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <img src="images/logo.png" />
            </div>


            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/">HOME</a></li>
                </ul>
            </div>
        </div>
    </nav>



    <div class="container">
        <div class="div_usuario">
            <span> 
                <span class="specific">Id: #</span>
                <%= usuario[0].id_usuario %>
            </span>
            <span> 
                <span class="specific">Nome de usuario: </span>
                <%= usuario[0].nome_usuario %>
            </span>
            <span> 
                <span class="specific">Email: </span>
                <%= usuario[0].email_usuario %>
            </span>
            <span> 
                <span class="specific">Senha: </span>
                <%= usuario[0].senha_usuario %>
            </span>
            <span> 
                <span class="specific">Código de status: </span>
                <%= usuario[0].cod_status_usuario.toUpperCase() %>
            </span>
            <span> 
                <span class="specific">noticias escritas por <%= usuario[0].nome_usuario %>: </span>
               oi
            </span>

        </div>
    </div>

    <!-- Scripts -->
    <script src="js/script_user.js"></script>

</body>

</html>